$def with (header, footer)
$:header
	<div class = "entry">	
		<h2>Clarity</h2>
		<ul>
			<br/><li>What is the problem or challenge?</li><br/>
			<li>what emotion am I feeling? 
				<ul><li><small>(Anger/Fear/Anxiety/Confusion/Hoplessness)</small></li></ul></li><br/>
			<li>Why am I feeling this emotion? 
				<ul><li><small>(Blocked expectations / Control issues/ An event / Failure/ Disappointment)</small></li></ul></li><br/>
			<li>What aspects of this issue <small>(cause of my emotional reaction)</small> do I acctually have control over?</li><br/>
			<li>What aspects of this issue do I want to change but have no control over?</li><br/>
			<li>What are the decisions that are mine to make in this situation?</li><br/>
			<li>Identify the ways in which I have caused harm in the situation.</li><br/>
			<li>What is the next thing to do in this situation?</li>
		</ul>
		<h2>Truth</h2>
		<ul>
			<li>I am powerless over certain aspects of this situation.</li><br/>
			<li>There is a power in the universe that may influence the outcome in ways I may not understand or agree with.</li>
		</ul>
		<h2>Action</h2>
		<ul>
			<li>I will clean up any mess that I have made. <ul><li><small>Own it, make amends, apologize</small></li></ul></li><br/>
			<li>I will set aside those things I do not have control over and remove their power to influence my emotions.<ul><li><small>Setting aside yesterday's regrets and tomorrows fears.</small></li></ul></li><br/>
			<li>I will make decisions on those items I have control over to move the issue toward a positive resolution.<ul><li><small>Toward success and peace</small></li></ul></li><br/>
			<li>I will act on those things I have control over by doing the next right thing.<ul><li><small>My goal is progress, not perfection</small></li></ul></li>
		</ul>
	</div>	
$:footer