$def with (header, footer)
$:header
	<div class = "entry-main">	
		
		<h1>Encountering Trouble</h1>
		<p><h3>Today:</h3></p>
		<ul>
			<li>I remember that tyranny in the marketplace begins in the hearts of people.</li><br/>
			<li>I am responsible to bring redemption from tyranny in my sphere of influence.</li><br/>
			<li>Anger and Fear will control my life until I discover the difference between what I can control and what I cannot.</li><br/>
			<li>Success and Peace will come when I invest my energy in those things I have the power to change.</li>
		</ul>
	</div>
$:footer